<<<<<<< HEAD
<h1>テスト</h1>
<%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
<%= link_to 'マイページ', customer_path(current_customer.id) %>
=======
<%#<%= render 'layouts/header' %>
<h1>Top画面です</h1>
>>>>>>> 8f9e788fdf3b0ce87430e03f60ab74bf817b262d
