// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    list-style:none;
}

.banner {
    background-color:blue;
}
.content {
    display:flex;
}
.button {
  border:solid 1px black;
}