<div class="containe-fluid mt-5">
  <div class="row">
    <div class="mx-auto text-center">
      <h1>ご注文ありがとうございました！</h1>
      <th><%= link_to "注文履歴一覧へ", orders_path %></th>
    </div>
  </div>
</div>
